<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>

<script>
  window.logoURL='<%= image_url('logo.png') %>'
</script>

<div id="content"></div>

<script>
  $(document).ready(function($) {
    $(window).scroll(function() {
      let scrollPos = $(window).scrollTop(),
          navBar = $('.navbar-home');

      if (scrollPos > 100) {
        navBar.addClass('nav-scroll');
      } else {
        navBar.removeClass('nav-scroll');
      }
    });
  });
</script>
