.homepage {
  display: flex;
  justify-content: center;
  background: azure;
}

.homefeed {
}

.homefeed-list {
  margin-top: 60px;
  padding: 40px;
}

.homefeed-item {
  position: relative;
  text-align: center;
  border: 2px solid darkgray;
  max-height: 900px;
  max-width: 900px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 30px black;
  background: white;
}

.homefeed-item > ul + ul {
  text-align: left;
  padding: 10px;
}

.homefeed-item > ul + ul > li:first-child {
  font-size: 18px;
  margin-bottom: 5px;
  color: darkslategray;
}

.homefeed-item > ul + ul > li + li {
  font-size: 14px;
  color: slategray;
}

.homefeed-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 775px;
  border-radius: 3px;
  border-bottom: 1px solid slategray;
  background: black;
}

.homefeed-user {
  border-bottom: 1px solid darkgray;
  text-align: left;
}

.homefeed-user > li + li:nth-child(2) {
  padding-top: 8px;
  font-size: 18px;
  color: darkslategray;
}
.homefeed-user > li + li:nth-child(3) {
  padding-top: 1px;
  font-size: 12px;
  color: slategray;
}

.user-dashboard {
  margin-top: 100px;
  margin-right: 10px;
  border: 1px solid lightgray;
  background: white;
  width: 290px;
  height: 140px;
}

.user-dashboard > div {
  padding: 10px 5px;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.user-dashboard > div h3 {
  margin-top: 15px;
  font-size: 20px;
  color: lightslategray;
}

.user-dashboard > div h3:hover {
  opacity: 0.80;
}

.user-dashboard > div img:hover {
  opacity: 0.80;
}

.user-dashboard > ul {
  height: 50px;
  display: flex;
  align-content: center;
}

.user-dashboard > ul > li {
  padding: 10px;
  font-size: 14px;
  height: 50px;
  text-align: center;
  min-width: 125px;
  cursor: pointer;
}

.user-dashboard > ul > li + li {
  border-left: 1px solid lightgray;
}

.user-dashboard > ul > li + li button {
  width: 144px;
  height: 69px;
  margin-top: -25px;
  margin-left: -10px;
}

.user-dashboard > ul > li h4 {
  margin-top: 15px;
  color: lightslategray;
}

.user-dashboard > ul > li button {
  text-transform: uppercase;
}

@media only screen and (max-width: 1026px) {
  .user-dashboard {
    display: none;
  }
}
