.login-signup-box {
  display: flex;
  justify-content: center;
  margin: 200px auto;
  width: 400px;
  height: 450px;
  border: 1px solid lightgray;
  color: gray;
  font-weight: lighter;
}

.login-signup-box h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px;
  padding-top: 15px;
}

.login-signup-box h3 {
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

.login-form {
  width: 315px;
  padding: 10px;
}

.login-form label {
  font-size: 14px;
}

.login-input {
  width: 100%;
  height: 30px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  font-size: 14px;
  text-indent: 8px;
}

.submit-button {
  width: 100%;
  border-radius: 5px;
  background: #268934;
  font-size: 20px;
  color: white;
  padding: 7px;
}
