.login-signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 450px;
  border: 1px solid lightgray;
  color: gray;
  font-weight: lighter;
}

.login-signup-box h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px;
  padding-top: 15px;
}

.login-signup-box h3 {
  text-align: center;
  font-size: 16px;
  margin: 10px;
  padding-bottom: 5px;
}

.login-form {
  width: 315px;
  padding: 10px;
}

.login-form label {
  font-size: 14px;
}

.form-inputs {
  width: 100%;
  height: 30px;
  margin: 5px 0 15px 0;
  border-radius: 3px;
  font-size: 14px;
  text-indent: 8px;
  border: 1px solid lightgray;
}

.submit-button {
  width: 100%;
  border-radius: 3px;
  background: #34bf49;
  font-size: 20px;
  color: white;
  padding: 7px;
  text-align: center;
  border: 1px solid #2fab41;
}
