.navbar {
  border-bottom: 1px solid lightgray;
  height: 50px;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
  position: relative;
}

.leftButtons {
  float: left;
}

.rightButtons {
  float: right;
}

.navbar li {
  float: left;
  text-align: center;
  padding: 15px;
}

.navbar li:hover {
  background: white;
}

.ReactModal__Body--open {
  overflow: hidden;
}
