.navbar {
  font-size: 18px;
  height: 60px;
  padding-left: 100px;
  padding-right: 100px;
  color: darkslategray;
  font-weight: lighter;
  letter-spacing: 2px;
}

.navbar-home {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  color: white;
}

.nav-scroll {
  transition: 0.5s;
  opacity: 0.85;
  color: darkslategray;
  background: lightgrey;
  box-shadow: 0 0 30px black;
}

.navbar-other {
  background: lightgrey;
  border-bottom: 2px solid lightslategray;
}

.logo {
  width: 179px;
}

.leftButtons {
  float: left;
}

.leftButtons > ul > li + li {
  padding: 20px;
}

.rightButtons {
  float: right;
}

.rightButtons li {
  padding: 19px;
}

.navbar li {
  float: left;
}

.navbar li:hover {
  background: #fff;
  color: darkslategray;
}

.ReactModal__Body--open {
  overflow: hidden;
}
