.gallery {
  display: block;
  margin: 10px auto;
  top: 20px;
  background: lightyellow;
}

.condensed {
  position: relative;
  width: auto;
  height: auto;
  max-width: 300px;
  box-shadow: 0 0 30px black;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid white;
}

.photo-details-box {
  display: flex;
  flex-flow: row;
  position: relative;
}

.image-show-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.photo-show {
  width: auto;
  height: auto;
  max-width: 90%;
  margin: 20px;
  border: 3px solid lightgray;
  border-radius: 3px;
}

.photo-details-show-box {
  width: 300px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: center;
  color: darkslategray;
}

.button-space {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.user-info {
  padding-bottom: 20px;
  margin-top: 15px;
  font-size: 24px;
  border-bottom: 1px solid lightgray;
}

.photo-text {
  padding-bottom: 20px;
  margin-top: 15px;
  text-indent: 15px;
  border-bottom: 1px solid lightgray;
}

.photo-text h3 {
  font-size: 24px;
}

.photo-text p {
  font-size: 18px;
}
