.profile {

}

.empty-cover {
  height: 200px;
  box-shadow: 0 0 30px black;
}

.profile-cover {
  height: 700px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 30px black;
}

.profile-cover img {
  width: 100%;
  height: 100%;
}

.profile-info {
  position: relative;
  height: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: darkslategray;
}

.profile-info > h1 {
  flex: 1 100%;
  font-size: 36px;
  margin-top: 55px;
  text-align: center;
}

.profile-info > p {
  flex: 1 100%;
  width: 300px;
  text-align: center;
}

.profile-info > li {
  padding: 0 20px 20px 20px;
}

.profile-avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: calc(50% - 52px);
  border-radius: 50%;
  border: 2px solid white;
}

.edit-or-follow {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 10px;
  right: 10px;
  text-align: center;
}

.edit-or-follow button {
  width: 130px;
  padding: 5px 10px;
  background: #34BF49;
  border: 1px solid #2FAB41;
  color: white;
  border-radius: 3px;
}

.profile-gallery {
  flex: 1 100%;
  box-shadow: 0 -5px 20px -5px black;
  margin: 0 auto;
  background: azure;
}

.profile-gallery > div {
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid lightgray;
  background: white;
}

.profile-gallery h2 {
  font-size: 18px;
  color: darkslategray;
  letter-spacing: 2px;
}

.thumbnail {
  width: 45px;
  height: 45px;
  padding: 5px 10px;
  float: left;
  border-radius: 50%;
}
